{% extends "base_main.html" %}

{% block title %}Main Dashboard{% endblock %}
{% block banner_subtitle %}{% endblock %}

{% block content %}
    <div class="container-fluid d-flex flex-grow justify-content-center align-items-center">
        <div class="card shadow p-3 text-white bg-primary">

            {% with messages = get_flashed_messages(category_filter=["error"])%}
            {% if messages%}
            {% for message in messages%}
            <div class="alert alert-danger" role="alert">{{message}}</div>
            {%endfor%}
            {%endif%}
            {%endwith%}

            {% with messages = get_flashed_messages(category_filter=["success"])%}
            {% if messages%}
            {% for message in messages%}
            <div class="alert alert-success" role="alert">{{message}}</div>
            {%endfor%}
            {%endif%}
            {%endwith%}

            <h3 class="mb-3 text-center">Sign In</h3><n> 
            <form action="{{ url_for('auth.login_page') }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div>
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control", size=32) }}
                    </div>

                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control", size=32) }}
                    </div>

                    <div class="form-check mb-3">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>

                    <div class="mb-2 d-flex justify-content-center">
                        {{ form.submit(class="btn btn-warning") }}
                    </div>
                </div>
            </form>
            <p>Don't have an account? <a class="text-white" href="{{url_for('auth.signup_page')}}">Signup Here</a></p>
        </div>
    </div>


{% endblock %}