{% extends "base_main.html" %}

{% block title %}Main Dashboard{% endblock %}
{% block banner_title %}Main Dashboard{% endblock %}
{% block banner_subtitle %}Hello {{ username }}. Please select from one of the following:{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(category_filter=["success"])%}
    {% if messages%}
    {% for message in messages%}
    <div class="alert alert-success" role="alert">{{message}}</div>
    {%endfor%}
    {%endif%}
    {%endwith%}
        <div class="grid row row-cols-2 g-3 text-center flex-grow-1 p-3">
            <div class="col d-flex">
                <div class="card shadow-lg flex-fill flex-column justify-content-center align-items-center text-center p-3 ">
                    <h1 class="mb-3"><strong>Unit Search</strong></h1>
                    <p>Click on the button below to search units by unit name or code.</p>
                    <a class="btn mt-3 btn-warning" href="{{url_for('main.search_unit')}}">Search Units</a>
                </div>
            </div>
          
            <div class="col d-flex ">
                <div class="card shadow-lg flex-fill flex-column justify-content-center align-items-center text-center p-3 ">
                    <h1 class="mb-3"><strong>Edit Units</strong></h1>
                    <p>Click the buttons below to edit or create new outcomes</p>
                    <a class="btn mt-3 btn-warning" href="{{url_for('main.create_lo')}}">Learning Outcome Editor</a>
                </div>
            </div>

            <div class="col d-flex">
                <div class="card shadow-lg flex-fill flex-column justify-content-center align-items-center text-center p-3 ">
                    <h1 class="mb-3"><strong>New Units</strong></h1>
                    <p>Click on the button below to create new units.</p>
                    <a class="btn mt-3 btn-warning" href="{{url_for('main.new_unit')}}">New Unit</a>
                </div>
            </div>

            <div class="col d-flex">
                <div class="card shadow-lg flex-fill flex-column justify-content-center align-items-center text-center p-3 ">
                    <h1 class="mb-3"><strong>Admin Tools</strong></h1>
                    <p>Click on the button below to access admin tools.</p>
                    <a class="btn mt-3 btn-warning " href="{{url_for('main.admin')}}">Admin Tools</a>
                </div>
            </div>
        </div>

{% endblock %}