{% extends "base_main.html" %}

{% block title %}Main Dashboard{% endblock %}
{% block banner_subtitle %}
<div class="text-center">
Hello {{ username }}. Please select from one of the following:
</div>
{% endblock %}

{% block content %}
<div class="container-fluid m-3">
    {% with messages = get_flashed_messages(category_filter=["success"])%}
    {% if messages%}
    {% for message in messages%}
    <div class="alert alert-success" role="alert">{{message}}</div>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% with messages = get_flashed_messages(category_filter=["error"])%}
    {% if messages%}
    {% for message in messages%}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="grid row g-3 text-center flex-grow-1 p-3
        {% if current_user.is_authenticated and current_user.role.value == 'admin' %}
            row-cols-2
        {% elif current_user.is_authenticated and current_user.role.value == 'unit_coordinator' %}
            row-cols-2
        {% else %}
            row-cols-1
        {% endif %}
    ">

    <!-- Unit Search -->
    <div class="col d-flex">
        <div class="card shadow-lg flex-fill d-flex flex-column justify-content-center align-items-center text-center p-3">
        <h2 class="mb-2"><strong>Unit Search</strong></h2>
        <p class="mb-3">Search units by name or code.</p>
        <a class="btn mt-2 btn-warning" href="{{ url_for('main.search_unit') }}">Search Units</a>
        </div>
    </div>

    <!-- New Units-->
    {% if current_user.is_authenticated and current_user.role.value in ["admin", "unit_coordinator"] %}
    <div class="col d-flex">
        <div class="card shadow-lg flex-fill d-flex flex-column justify-content-center align-items-center text-center p-3">
        <h2 class="mb-2"><strong>New Units</strong></h2>
        <p class="mb-3">Create a new unit.</p>
        <a class="btn mt-2 btn-warning" href="{{ url_for('main.new_unit') }}">New Unit</a>
        </div>
    </div>
    {% endif %}


    <!-- Add data-->
    {% if current_user.is_authenticated and current_user.role.value in ["admin", "unit_coordinator"] %}
     <div class="col d-flex ">
    <div class="card shadow-lg flex-fill flex-column justify-content-center align-items-center text-center p-3 ">
        <h1 class="mb-3"><strong>Import / Export</strong></h1>
        {% if current_user.is_authenticated and current_user.role.value in ["admin", "unit_coordinator"] %}
        <p>Click the buttons below to import or export the outcomes</p>
        <div class="d-flex flex-column gap-2">
            <!-- Import Button  -->
            <form method="post" action="{{ url_for('main.import_units') }}" enctype="multipart/form-data" class="d-inline">
                <label for="importFile" class="btn mt-3 btn-warning">
                    Import Units From CSV or XLSX
                </label>
                <input type="file" id="importFile" name="import_file" class="d-none" accept=".csv,.xlsx,.xls" onchange="this.form.submit()">
            </form>
            <!-- Export Button -->
            <a class="btn mt-3 btn-warning" href="{{ url_for('main.export_my_units') }}">Export My Units</a>
            <a class="btn mt-3 btn-warning" href="{{ url_for('main.export_all_units') }}">Export All Units</a>
        </div>
        {% else %}
        <p>This feature isn't available on your account</p>
        {% endif %}
    </div>
</div>
    {% endif %}

    <!-- Admin Tools-->
    {% if current_user.is_authenticated and current_user.role.value == "admin" %}
    <div class="col d-flex">
        <div class="card shadow-lg flex-fill d-flex flex-column justify-content-center align-items-center text-center p-3">
        <h2 class="mb-2"><strong>Admin Tools</strong></h2>
        <p class="mb-3">Access administrative functions.</p>
        <a class="btn mt-2 btn-warning" href="{{ url_for('main.admin') }}">Admin Tools</a>
        </div>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}